@use './scss/_variables.scss' as *;
@use './scss/iconFont.scss' as *;
@font-face {
  font-family: 'PingFangSC-Medium';
  src: url('@/assets/font/PingFangSC-Medium.otf');
}
@font-face {
  font-family: 'PingFangSC-Regular';
  src: url('@/assets/font/PingFangSC-Regular.otf');
}
@font-face {
  font-family: 'PingFangTC-Medium';
  src: url('@/assets/font/PingFangTC-Medium.otf');
}
@font-face {
  font-family: 'PingFangTC-Regular';
  src: url('@/assets/font/PingFangTC-Regular.otf');
}
@font-face {
  font-family: 'Yuanti TC';
  src: url('@/assets/font/Yuanti TC Regular.ttf');
}
:root {
  /* 主題顏色 */
  --primary-color: #907bfe;
  --secondary-color: #c1bbf9;
  --tertiary-color: #4e25ff;
  /* 文字顏色 */
  --text-color: #000;
  --text-color-primary: #231815;
  --text-color-secondary: #fff;
  --text-color-tertiary: #f5f5f6;
  --text-color-quaternary: #9d9d9e;
  --text-color-quinary: #383838;
  --text-color-senary: #2991bf;
  --text-color-septenary: #c6c8c8;
  --text-color-octonary: #dbdbdb;
  --text-color-nonary: #c6c8c8;
  --text-color-denary: #f1f1f1;
  --text-color-white2: #fdfdfd;
  --text-color-gray: #333333;
  --text-color-gray2: #a5a6a8;
  --text-color-gray3: #9e9e9f;
  --text-color-error: #ff0000;
  /* 彈窗文字顏色 */
  --popTxt-color-title: #000000;
  --popTxt-color-content: #888888;
  /* 特殊顏色 */
  --input-border-color: #717071;
  --data-color-up: #90c182;
  --data-color-down: #cc4a30;
  --link-color: #7ba5c2;
  --favorite-color: #ffd939;
  --favorite-color-secondary: #fe7b82;
  --play-progress-color: #595757;
  --play-sponsor-color: #7c7c7c;
  --play-sponsor-color-primary: #9ae8e6;
  --play-sponsor-color-secondary: #86db86;
  --play-sponsor-color-tertiary: #ffedcc;
  --play-sponsor-color-quaternary: #ef7b91;
  // 背景色 與 背景1 / 背景2
  --background-color: #ffffff;
  --background-color-dark: #040000;
  --background-color-light: #ffffff;
  --background-color-gray: #252525;
  --background-color-grayLight: #f6f6f6;
  --background-color-grayLight2: #eeedee;
  --background-color-orange: #cc4a30;
  --background-color-green: #93c174;
  --background-color-blue: #82beda;
  --background-color-blue2: #5db3d9;
  --background-color-dark-opacity85: #040000d9;
  --background-color-dark-opacity70: rgba(77, 74, 74, 0.7);
  /* 設定 z-index */
  --z-index-bottom-nav: 1000;
  --z-index-header-nav: 1000;
  --z-index-max: 10000;
  // TODO: 影片最大寬度
  /* 影片最大寬度 */
  --video-maxWidth: 850rpx;
  /* 設定窗口最大寬度 */
  --setting-page-maxWidth: 768rpx;
  --content-layout-maxWidth: 100%;
  @media screen and (min-width: 961px) {
    --content-layout-maxWidth: 80%;
    --setting-page-maxWidth: 960rpx;
  }
  @media screen and (min-width: 1920px) {
    --setting-page-maxWidth: 1280rpx;
    --video-maxWidth: 1280rpx;
  }
  @media screen and (min-width: 1440px) {
    --content-layout-maxWidth: 70%;
  }
  /* 字體大小 */
  --font-size-content-pc: 24rpx;
  --font-size-content-pc-small: 20rpx;
  --font-size-content-pc-large: 28rpx;
  --font-size-title-pc: 32rpx;
  --font-size-title-pc-small: 30rpx;
  --font-size-title-pc-large: 32rpx;
  --font-size-title-pc-xlarge: 36rpx;
  @media screen and (min-width: 768px) {
    --font-size-content-pc: 16rpx;
    --font-size-content-pc-small: 12rpx;
    --font-size-content-pc-large: 20rpx;
    --font-size-title-pc: 20rpx;
    --font-size-title-pc-small: 18rpx;
    --font-size-title-pc-large: 24rpx;
    --font-size-title-pc-xlarge: 28rpx;
  }
  @media screen and (min-width: 961px) {
    --font-size-content-pc: 28rpx;
    --font-size-content-pc-small: 24rpx;
    --font-size-content-pc-large: 32rpx;
    --font-size-title-pc: 32rpx;
    --font-size-title-pc-small: 30rpx;
    --font-size-title-pc-large: 36rpx;
    --font-size-title-pc-xlarge: 40rpx;
  }
  @media screen and (min-width: 1280px) {
    --font-size-content-pc: 32rpx;
    --font-size-content-pc-small: 28rpx;
    --font-size-content-pc-large: 36rpx;
    --font-size-title-pc: 36rpx;
    --font-size-title-pc-small: 34rpx;
    --font-size-title-pc-large: 40rpx;
    --font-size-title-pc-xlarge: 44rpx;
  }
  @media screen and (min-width: 1920px) {
    --font-size-content-pc: 36rpx;
    --font-size-content-pc-small: 32rpx;
    --font-size-content-pc-large: 40rpx;
    --font-size-title-pc: 40rpx;
    --font-size-title-pc-small: 38rpx;
    --font-size-title-pc-large: 44rpx;
    --font-size-title-pc-xlarge: 48rpx;
  }
  /* 主區域 padding */
  --main-area-padding: 72rpx;
  @media screen and (min-width: 1280px) {
    --main-area-padding: 120rpx;
  }
  @media screen and (min-width: 1440px) {
    --main-area-padding: 150rpx;
  }
  @media screen and (min-width: 1920px) {
    --main-area-padding: 200rpx;
  }
}
// 主題色
html,
body {
  &.dark {
    --background-color: #000000;
    --background-color-dark: #040000;
    --background-color-light: #ffffff;
  }

  &.light {
    --background-color: #ffffff;
    --background-color-dark: #000;
    --background-color-light: #ffffff;
  }
}

// ✅ 全站預設樣式
html,
body {
  font-family:
    'Noto Sans TC', 'PingFangTC-Regular', 'PingFangSC-Regular', 'PingFangTC-Medium',
    'PingFangSC-Medium', 'Helvetica', 'Arial', sans-serif;
  margin: 0;
  padding: 0;
  color: var(--text-color);
  // background-color: var(--background-color);
  line-height: 1.5;
}

// ✅ 常用樣式重置
*,
*::before,
*::after {
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: inherit;
}

button {
  font-family: inherit;
  cursor: pointer;
}

img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

// .icon {
//   width: 24rpx;
//   height: 24rpx;
// }

/* 輸入欄位 */

// 錯誤提示
.error-text {
  margin-top: 8rpx;
  color: var(--text-color-error);
  padding-left: 16rpx;
}
// 輸入提示
.input-tip {
  margin-top: 8rpx;
  padding-left: 16rpx;
  font-size: 24rpx;
  color: var(--text-color-quaternary);
}
// 分析圖表標題
.chart-title {
  font-size: 30rpx;
  margin-bottom: 20rpx;
}

// 標題
.row-title {
  line-height: 1;
  font-size: 30rpx;
  margin-bottom: 20rpx;
  color: var(--text-color-primary);

  &.bold {
    font-weight: bold;
  }
  &.bold-50 {
    font-weight: 500;
  }
}

/* 行分隔線 */
.deco-line {
  border-bottom: 1px solid var(--background-color-grayLight2);
  margin: 20rpx 0 40rpx;
}

/* 按鈕 */
.btn-container {
  .btn {
    padding: 24rpx 22rpx;
    line-height: 1;
    font-size: var(--font-size-title-pc);
    background: var(--primary-color);
    color: var(--text-color-secondary);
    border-radius: 20rpx;

    @media screen and (min-width: 768px) and (max-width: 960px) {
      padding-top: 24rpx;
      padding-bottom: 24rpx;
    }

    &.confirm-btn {
      color: var(--text-color-secondary);
      background-color: var(--primary-color);
    }

    &.cancel-btn {
      background-color: unset;
      color: var(--text-color-primary);
    }
    &.is-disabled,
    &:disabled {
      background-color: var(--text-color-gray3) !important;
      color: var(--text-color-secondary) !important;
    }

    &::after {
      display: none;
    }
  }
}

/* 圖標 */
.icon-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* 提示 */
#u-a-t {
  .uni-toast {
  }
}

// PC 內容中間視窗大小 與 置中
.pc-content-layout-center-style {
  max-width: var(--content-layout-maxWidth);
  margin: 0 auto;
}

.popup-close:hover,
button:hover,
.icon-container:hover {
  cursor: pointer;
}

// PC 滾動條
@media screen and (min-width: 961px) {
  ::-webkit-scrollbar {
    display: scroll;
    width: 8rpx;
    display: none;
  }

  ::-webkit-scrollbar-track {
    background: transparent;
  }

  ::-webkit-scrollbar-thumb {
    background: var(--text-color-gray3);
    // width: 1px;
    border-radius: 10rpx;
  }
}

// 分析圖表
.chart-box {
  padding: 24rpx;
  background-color: #fff;
  border-radius: 20rpx;
}

.chart-title {
  font-size: var(--font-size-title-pc);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* INPUT 輸入欄位標準樣式 因uni-ui 需各頁面使用*/
// .input-style {
// 	::v-deep(.uni-easyinput__content) {
// 		margin-bottom: 0rpx;

// 		&.is-input-border {
// 			border: none !important;
// 			background: var(--text-color-tertiary) !important;
// 			border-radius: 10rpx;
// 			padding: 8rpx 32rpx;
// 			color: var(--text-color-primary);

// 			@media screen and (min-width: 961px) {
// 				padding: 4rpx 32rpx;
// 			}

// 			&.is-focused {
// 				border: 1px solid var(--primary-color) !important;

// 				.uniui-eye-filled {
// 					color: var(--primary-color) !important;
// 				}
// 			}
// 		}
// 	}

// 	&.errorStyle ::v-deep(.uni-easyinput__content) {
// 		&.is-input-border {
// 			border: 1px solid var(--text-color-error) !important;
// 		}
// 	}
// }

// 懸浮置頂按鈕
.floating-button {
  position: fixed;
  bottom: 5%;
  right: 50px;
  z-index: 10;
  width: 72rpx;
  height: 72rpx;
  border-radius: 50%;
  background-color: var(--text-color-septenary);

  @media screen and (min-width: 1280px) {
    width: 90rpx;
    height: 90rpx;
  }

  &:hover {
    cursor: pointer;
  }

  & > .icons {
    color: var(--text-color-secondary) !important;
    font-size: 40rpx !important;

    @media screen and (min-width: 1280px) {
      font-size: 48rpx;
    }
  }
}

// 禁止滾動
.no-scroll {
  overflow: hidden !important;
}
