@use './scss/_variables.scss' as *;
@use './scss/iconFont.scss' as *;
@font-face {
  font-family: 'PingFangSC-Medium';
  src: url('@/assets/font/PingFangSC-Medium.otf');
}
@font-face {
  font-family: 'PingFangSC-Regular';
  src: url('@/assets/font/PingFangSC-Regular.otf');
}
@font-face {
  font-family: 'PingFangTC-Medium';
  src: url('@/assets/font/PingFangTC-Medium.otf');
}
@font-face {
  font-family: 'PingFangTC-Regular';
  src: url('@/assets/font/PingFangTC-Regular.otf');
}
@font-face {
  font-family: 'Yuanti TC';
  src: url('@/assets/font/Yuanti TC Regular.ttf');
}
:root {
  --primary-color: #907bfe;
  --secondary-color: #c1bbf9;
  --tertiary-color: #4e25ff;

  --text-color: #000;
  --text-color-primary: #231815;
  --text-color-secondary: #fff;
  --text-color-tertiary: #f5f5f6;
  --text-color-quaternary: #9d9d9e;
  --text-color-quinary: #383838;
  --text-color-senary: #2991bf;
  --text-color-septenary: #c6c8c8;
  --text-color-octonary: #dbdbdb;
  --text-color-nonary: #c6c8c8;
  --text-color-denary: #f1f1f1;
  --text-color-white2: #fdfdfd;
  --text-color-gray: #333333;
  --text-color-gray2: #a5a6a8;
  --text-color-gray3: #9e9e9f;
  --text-color-error: #ff0000;

  --popTxt-color-title: #000000;
  --popTxt-color-content: #888888;

  --input-border-color: #717071;
  --data-color-up: #90c182;
  --data-color-down: #cc4a30;
  --link-color: #0868aa;
  --favorite-color: #ffd939;
  --favorite-color-secondary: #fe7b82;
  --play-progress-color: #595757;
  --play-sponsor-color: #7c7c7c;
  --play-sponsor-color-primary: #9ae8e6;
  --play-sponsor-color-secondary: #86db86;
  --play-sponsor-color-tertiary: #ffedcc;
  --play-sponsor-color-quaternary: #ef7b91;
  // 背景色 與 背景1 / 背景2
  --background-color: #ffffff;
  --background-color-dark: #040000;
  --background-color-light: #ffffff;
  --background-color-gray: #252525;
  --background-color-grayLight: #f6f6f6;
  --background-color-grayLight2: #eeedee;
  --background-color-orange: #cc4a30;
  --background-color-green: #93c174;
  --background-color-blue: #82beda;
  --background-color-blue2: #5db3d9;
  --background-color-dark-opacity85: #040000d9;

  --z-index-bottom-nav: 10000;
  --z-index-header-nav: 10000;
  --z-index-max: 100000;
}
// 主題色
html,
body {
  &.dark {
    --background-color: #000000;
    --background-color-dark: #ff0000;
    --background-color-light: #ffffff;
  }

  &.light {
    --background-color: #ffffff;
    --background-color-dark: #000;
    --background-color-light: #ffffff;
  }
}

// ✅ 全站預設樣式
html,
body {
  font-family:
    'Noto Sans TC', 'PingFangTC-Regular', 'PingFangSC-Regular', 'PingFangTC-Medium',
    'PingFangSC-Medium', 'Helvetica', 'Arial', sans-serif;
  margin: 0;
  padding: 0;
  color: var(--text-color);
  background-color: var(--background-color);
  line-height: 1.5;
}

// ✅ 常用樣式重置
*,
*::before,
*::after {
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: inherit;
}

button {
  font-family: inherit;
  cursor: pointer;
}

img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

// .icon {
//   width: 24rpx;
//   height: 24rpx;
// }

/* 輸入欄位 */

// 錯誤提示
.error-text {
  margin-top: 8rpx;
  color: var(--text-color-error);
  padding-left: 16rpx;
}
// 輸入提示
.input-tip {
  margin-top: 8rpx;
  padding-left: 16rpx;
  font-size: 24rpx;
  color: var(--text-color-quaternary);
}
// 分析圖表標題
.chart-title {
  font-size: 30rpx;
  margin-bottom: 20rpx;
}

// 標題
.row-title {
  line-height: 1;
  font-size: 30rpx;
  margin-bottom: 20rpx;
  color: var(--text-color-primary);

  &.bold {
    font-weight: bold;
  }
  &.bold-50 {
    font-weight: 500;
  }
}

/* 行分隔線 */
.deco-line {
  border-bottom: 1px solid var(--background-color-grayLight2);
  margin: 20rpx 0 40rpx;
}

.btn-container {
  .btn {
    padding: 10rpx 22rpx;
    line-height: 1;
    font-size: 24rpx;
    background: var(--primary-color);
    color: var(--text-color-secondary);
    border-radius: 20rpx;
  }
}

.icon-container {
  display: flex;
  justify-content: center;
  align-items: center;
}
